@import url("https://fonts.googleapis.com/css2?family=Lora&family=Raleway:wght@100;500&display=swap");
body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-weight: bolder;
  font-family: "Raleway", sans-serif;
}
body main.conteudo {
  padding: 0;
  margin: 0;
  height: 100vh;
  width: 100vw;
  position: absolute;
}
body main.conteudo a:link,
body main.conteudo a:visited {
  text-decoration: none;
  color: rgb(0, 0, 0);
}
body main.conteudo #modalCarrinho {
  width: 100%;
  height: 100vh;
  left: 0;
  position: absolute;
  display: none;
  z-index: 5;
  background-color: rgba(112, 112, 112, 0.596);
  animation: modalFundo-in 2s forwards;
}
@keyframes modalFundo-in {
  to {
    background-color: rgba(112, 112, 112, 0.925);
  }
}
body main.conteudo #modalCarrinho .modal {
  animation: modalCarrinho-in 2s forwards;
  display: flex;
  margin-right: 10px;
  float: right;
  flex-direction: column;
  color: rgb(0, 0, 0);
  width: 500px;
  height: 300px;
  margin-top: 50px;
  overflow-y: scroll;
}
@keyframes modalCarrinho-in {
  from {
    background-color: rgba(112, 112, 112, 0.925);
  }
  to {
    background-color: rgb(255, 255, 255);
  }
}
body main.conteudo #modalCarrinho .modal .menuCarrinho {
  display: inherit;
  margin-bottom: 10px;
}
body main.conteudo #modalCarrinho .modal .menuCarrinho span,
body main.conteudo #modalCarrinho .modal .menuCarrinho a {
  flex: 1;
  text-align: center;
  font-family: "Lora", serif;
}
body main.conteudo #modalCarrinho .modal #carrinho .grid-template-2 {
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: auto 50%;
  grid-template-areas: "sidenav content" "sidenav footer";
}
body main.conteudo #modalCarrinho .modal #carrinho .grid-template-2 div {
  text-align: center;
  width: 100%;
  font-family: "Lora", serif;
}
body main.conteudo #modalCarrinho .modal #carrinho .grid-template-2 .sidenav {
  grid-area: sidenav;
}
body main.conteudo #modalCarrinho .modal #carrinho .grid-template-2 .sidenav img {
  height: 200px;
  width: 200px;
}
body main.conteudo #modalCarrinho .modal #carrinho .grid-template-2 .content {
  grid-area: content;
}
body main.conteudo #modalCarrinho .modal #carrinho .grid-template-2 .footer {
  grid-area: footer;
}
body main.conteudo header {
  background-image: linear-gradient(to bottom right, rgba(204, 0, 255, 0.989), rgb(89, 0, 255));
  height: 50px;
}
body main.conteudo header nav {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}
body main.conteudo header nav div:nth-child(1) {
  font-family: "Raleway", sans-serif;
  font-weight: bolder;
  font-size: 1.5em;
}
body main.conteudo header nav div {
  color: rgb(255, 255, 255);
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
body main.conteudo header nav div .icones {
  color: rgb(255, 255, 255);
  font-size: 2em;
}
body main.conteudo main {
  width: 100%;
  position: relative;
  display: flex;
}
body main.conteudo main div#produtos {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}
body main.conteudo main div#produtos div.produto-single {
  margin: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 1;
  height: 300px;
  max-width: 350px;
  color: rgb(0, 0, 0);
  border-radius: 10px;
  position: relative;
  font-family: "Lora", serif;
  font-weight: 600;
}
body main.conteudo main div#produtos div.produto-single .fundoBola {
  position: absolute;
  border-radius: 50%;
  z-index: -1;
}
body main.conteudo main div#produtos div.produto-single:hover .fundoBola {
  animation: mymove;
  animation-duration: 1s;
  animation-fill-mode: forwards;
  background-image: linear-gradient(to bottom right, rgba(191, 0, 255, 0.496), rgba(13, 0, 255, 0.323));
}
@keyframes mymove {
  from {
    width: 0px;
    height: 0px;
  }
  to {
    width: 200px;
    height: 200px;
  }
}
body main.conteudo main div#produtos div.produto-single img {
  width: 200px;
  height: 200px;
}
body main.conteudo main div#produtos div.produto-single .destaqueValor {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  bottom: 0px;
  background-color: rgba(109, 109, 109, 0.455);
  width: 100%;
  height: 40px;
  border-radius: 0px 0px 10px 10px;
}

/*# sourceMappingURL=style.css.map */
