body main.conteudo {
    header nav div:nth-child(2) {
        @media screen and (max-width: 720px) {
            background-color: rgb(255, 0, 0);
            display: none;
        }
    }
    #modalCarrinho .modal {
        @media screen and (max-width: 720px) {
            max-width: 100%;
        }
        #carrinho {
            .grid-template-2 {
                .sidenav {
                    img {
                        @media screen and (max-width: 720px) {}
                        width: 190px;
                        height: 200px;
                    }
                }
            }
        }
    }
    main div#produtos div.produto-single {
        @media screen and (max-width: 720px) {
            width: 90%;
        }
    }
}